body{
    width:100%;
}
#menuSis{
    
   
    margin-bottom: 50px;
}
#menuSis ul{
    
}
.mensaje{
    display: none;
    color: #F03800;    
    margin:auto;
    padding:3px 0px;
    background: rgba(0,0,0,0.7);
    border-radius: 20px;
    width: 60%;
    text-align: center;
}
#menuSis li{
    
    margin: 10px 20px;
    display: inline-block;
    
}
#menuSis a{
    font-size:20px;
}

.registro{
    width:25%;
    float:left;
    min-width: 290px;
    padding:1% 3%;
}
.lista{
    width:65%;
    float:left;
    min-width: 660px;
    
}
a{
    color:#000;
}
.clear{
    clear: both;
}

.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.datagrid table td, .datagrid table th { padding: 3px 10px; }
.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } 
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }

