#error{

	font-family: Segoe Print;
	color: #E22092;
}

#body{
	background-image: url("../img/body2.jpg");
	
	background-attachment: fixed;
	padding: 0;
}

#title{
	margin:auto;
	margin-left: 30%;
	margin-top: 3%;
	
}

#box{
	width: 800px;
	height: 380px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 7px;
	margin: auto;
	margin-top: 50px;
	border: dashed #66B3C5 1px;

}

#bienvenido{
	float: left;
	width: 45%;
	height: 200px;
	color: white;
	font-family: Segoe Print;
	margin-top: 3%;
	margin-left: 5%;
	text-align : justify;
	font-size: 120%;
	
}

#registrar{
	float: left;
	margin-left: 10%;
	margin-top: 5%;
}

#registrar a{
	margin-left: 10%;
}

#login{
	float: left;
	width: 300px;
	height: 290px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-border-radius: 7px;
	background-image:url('../img/4.jpg');
	margin-top: 3%;
	padding: 0;
	padding-top: 40px;
	margin-left: 8%;
}

#login form{
	margin: 0;
	padding: 0;
	padding-left: 55px;
}

#login input{
	margin-left: 25px;
	margin-bottom: 27px;
}

#cabecera{
	background-color: rgba(21,43,89,0.6);
	border-radius: 7px;
	border:dashed black;
	width: 850px;
	height: 100px;
	margin: auto;
	margin-top: 5%;
}

#oneD{
	float: left;
	background-color: black;
	width: 162px;
	height: 162px;
	margin-left: -3%;
	margin-top: -4%;
	padding: 0;
	margin-bottom: 0.5%;
	border-radius: 50%;
	border: double white 6px;
	color: white;
}

#oneD img{
	width: 55%;
	height: 58%;
	margin-left: 25%;
	margin-top: 20%;
	margin-bottom: 3%;

}
#logo{
	float: left;
	width: 61%;
	height: 100%;
	text-shadow:  -1px 0 #F7F7F7, 1px 0 #F7F7F7, 0 1px #F7F7F7, 0 -1px #F7F7F7;
	font-family: Segoe Print;
	font-size: 410%;
	text-align: center;	
	margin-top: -1%;
	margin-left: 3%;

}


#fan{
	float: left;
	width: 12%;
	height: 20%;
	font-family: Segoe Print;
	font-size: 100%;
	margin-top: 7%;
	color: white;
	text-shadow:  -2px 0 black, 2px 0 black, 0 2px black, 0 -2px black;
	margin-left: 2%;
	

}

#botones{
	width: 211px;
	height: 28px;
	margin-left: 67%;
	margin-top: 2%;
}

#f1{
	float: left;
	width: 30px;
	height: 28px;
	background-image: url("../img/barra.png");
}

#f1:hover{
	margin-top: -1%;
}

#f2{
	float: left;
	width: 29px;
	height: 28px;
	
	background-image: url("../img/barra.png");
	background-position: 13%;
}

#f2:hover{
	margin-top: -1%;
}

#f3{
	float: left;
	width: 31px;
	height: 28px;
	background-image: url("../img/barra.png");
	background-position: 26%;
}

#f3:hover{
	margin-top: -1%;
}

#f4{
	float: left;
	width: 28px;
	height: 28px;
	background-image: url("../img/barra.png");
	background-position: 39%;
}

#f4:hover{
	margin-top: -1%;
}


#f5{
	float: left;
	width: 31px;
	height: 28px;
	background-image: url("../img/barra.png");
	background-position: 52.5%;
}

#f5:hover{
	margin-top: -1%;
}


#f6{
	float: left;
	width: 31px;
	height: 28px;
	background-image: url("../img/barra.png");
	background-position: 66%;
}

#f6:hover{
	margin-top: -1%;
}

#f7{
	float: left;
	width: 31px;
	height: 28px;
	background-image: url("../img/barra.png");
	background-position: 80%;
	overflow: hidden;
}

#f7:hover{
	margin-top: -1%;
}

#menu{
	margin: auto;
	width: 960px;
	margin-top: 3%;
	
}

#menu ul{
	
	height: 43px;	
	margin-top: 1%;
	padding: 0;
	font-size: 106%;
	font-family: Century Gothic;
	margin-left: 1%;
	

}

#menu ul li{
	list-style: none;
	text-align: center;
	color:white;
	margin-right: 3px;

}

#menu ul li:hover{
	background-color: rgba(200,200,200,0.5);
	color: black;

	
}

#menu ul>li{
	position: relative;
	float: left;
	width: 12.1%;
	height: 88%;
	background-color: rgba(0,0,0,0.7);
}

#menu ul li a{
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 8px;
	position: relative;

}

#menu ul li a:hover{
	color: black;
	font-weight: 800;
}

#slide{
	margin: auto;
	width: 830px;
	height: 360px;
	margin-top: 4%;
	border-radius: 7px;
}


#contenedor{
	
	width: 945px;
	height: 570px;
	margin: auto;
	margin-top: 4%;

	
} 

#bloque1{
	float: left;
	background-color: white;
	width: 29%;
	height: 100%;
	margin-bottom: 0%;
	border: dashed 1px;
}

#bloque1 img{
	margin-top: 7%;
	margin-left: 7%;
	width: 83%;
	height: 50%;
}

#bloque1 p{
	
	font-family:Segoe Print;
	font-size: 120%; 
	text-align : justify;
	margin-left: 10%;
	margin-right: 7%;
	margin-top: 7%;
	
}

#boton{
	float: left;
	width: 42%;
	height: 20%;
	background-image:url('../img/boton.png');
	margin-top: 8%;
	margin-left: -6%;

}


#boton2{
	float: left;
	width: 32%;
	height: 15%;
	background-image:url('../img/boton2.png');
	margin-top: 26%;
	margin-left: -17%;

}
#bloque2{
	float: left;
	width: 70%;
	height: 100%;
	
	
}

.limpiar{
	clear: both;
}

#bloqueA{
	float: left;
	background-image:url('../img/hoja1.png');
	width: 400px;
	height: 42%;
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 2%;
}

#bloqueA p{
	
	font-family:Segoe Print;
	font-size: 120%; 
	margin-left: 10%;
	margin-right: 7%;
	margin-top: 7%;
}

#parrafo{
	text-align: justify;
	font-family: Courier;
	margin-left: 10%;
	margin-right: 7%;
}

#bloqueB{
	float: left;
	width: 230px;
	height: 40%;
	margin-top: 2%;
	margin-bottom: 3%;
}


#cinta1{
	float: left;
	width: 50%;
	height: 50%;
	margin-top: -5%;
	margin-left: -6%;
}

#cinta2{
	float: left;
	width: 50%;
	height: 50%;
	margin-top: -4%;

}
#cinta2 img{
	margin-left: 62%;
}

#cinta3{
	float: left;
	width: 50%;
	height: 50%;
	margin-left: -6%;
}
#cinta3 img{
	margin-top: 79%;
}
#cinta4{
	float: left;
	width: 50%;
	height: 50%;
}
#cinta4 img{
	margin-top: 80%;
	margin-left: 68%;
}

#bloqueC{
	float: left;
	margin-left: 4%;
	width: 230px;
	height: 40%;
	margin-top: 4%;

}

#clip{
	margin-left: 78%;
	margin-top: -13%;
}

#cinta{
	margin-top: 55%;
	margin-left: 8%;
}

#bloqueD{
	float: left;
	background-image:url('../img/hoja1.png');
	width: 400px;
	height: 42%;
	margin-top: 3.8%;
	margin-bottom: 2%;
}

#bloqueD p{
	
	font-family:Segoe Print;
	font-size: 120%; 
	text-align : justify;
	margin-left: 10%;
	margin-right: 7%;
	margin-top: 7%;

}
#boton1{
	
	width: 27.5%;
	height: 50%;
	background-image:url('../img/boton1.png');
	margin-top: 10%;
	margin-left: 70%;
}

#boton1 img{
	width: 40%;
	height: 48%;
	margin-top: 25%;
	margin-left: 30%;
}

#redes{
	background-color: rgba(0,0,0,0.7);
	width: 945px;
	height: 450px;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 2%;
	border-radius: 7px;	
	border: dashed 1px #66B3C5 ;
}

#red1{
	float: left;
	width: 30%;
	height: 100%;
	margin-right: 2%;
}

#redT{
	background-image:url('../img/red1.png');
	width: 95%;
	height: 20%;
	margin-top: -5%;
	margin-left: -5%;
	
}
#redSo{
	font-family: Maiandra GD;
	margin-left: 31%;
	font-size: 170%;
	height: 50%;
	width: 70%;

}

#redimage img{
	width: 80%;
	height: 90%;
	margin-left: 9%;
	margin-top: 2%;
}
#red2{
	float: left;
	width: 30%;
	height: 90%;
	margin-right: 4%;
	margin-left: 2%;
	margin-top: 2%;
}

#face{
	width: 100%;
	height: 15%;
	background-color: #31578f;
}

#comentF{
	background-image:url('../img/cabeza1.png');
	height: 85%;
	overflow: auto;

}

.fb-like-box{
	margin-top: 2%;
	margin-left: 3.2%;
}

.fb-comments{
	margin-left: 2%;
}

#f{
	float: left;
	margin-right: 10%;
}
#ultF{
	font-family: Segoe Print;
	color: white;
	float: left;
	font-size: 150%;
	margin-top: 2%;

}



#red3{
	float: left;
	width: 30%;
	height: 90%;
	margin-top: 2%;
	
}

#twitter{
	width: 100%;
	height: 15%;
	background-color: #0aa9e4;
}

#pajarito{
	float: left;
	margin-right: 15%;
}
#ultT{
	font-family: Segoe Print;
	color: white;
	float: left;
	font-size: 150%;
	margin-top: 2%;

}

#comentT{
	background-image:url('../img/cabeza1.png');
	height: 85%;

}

.twitter-follow-button{
	margin-top: 6%;
	margin-left: 8%;
	margin-bottom: 4%;
}
 #footer{
 	background-image:url('../img/fo1.png');
 	width: 945px;
 	height: 110px;
 	margin: auto;
 	margin-bottom: 5%;
 	border: double black 5px;

 }

#footer hr{
	width: 95%;
	margin:auto;
	height: 1%;
	margin-top: 2%;
	background-color: purple;
}
#footer p{
	float: left;
	font-size:100%;
	font-family: Segoe Print;
	margin-left: 40%;
	margin-right: 2%;
}

#yo{
	margin-left: 45%;
	margin-top: 1%;
	font-family: Lucida Handwriting;
	font-size: 100%;
}


#registro{
	background-color: rgba(0,0,0,0.7);
	height: 530px;
	width: 480px;
	margin-top: 1%;
	border-radius: 7px;
	font-family: Courier;
	text-align: center;
	color: white;
	border: dashed #66B3C5 1px;
	margin: auto;
	margin-top: 60px;
	position: relative;
	z-index: 0;
	
}

#cinta1registro{
	margin-left: -30px;
	margin-top: -25px;
	width: 130px;
	height: 70px;
	position: relative;
	z-index: 1;
}



#cinta1registro img{
	width: 100%;
	height: 100%;
}

#cinta2registro{
	margin-left: 383px;
	margin-top: -71px;
	width: 130px;
	height: 70px;
	position: relative;
	z-index: 1;
}

#cinta2registro img{
	width: 100%;
	height: 100%;
}



#cinta3registro{
	margin-left: -35px;
	margin-top: 443px;
	width: 130px;
	height: 70px;
	position: relative;
	z-index: 1;
}

#cinta3registro img{
	width: 100%;
	height: 100%;
}


#cinta4registro{
	margin-left: 385px;
	margin-top: -70px;
	width: 130px;
	height: 70px;
	position: relative;
	z-index: 1;
}

#cinta4registro img{
	width: 100%;
	height: 100%;
}

#registrate {
	
	font-family: Courier;
	height: 70px;
	font-size: 250%;
	margin-top: -528px;
	color: #66B3C5;
	position: relative;
	z-index: 0;
}


#datos{
	margin-left: 13%;
}

#datos table{
	font-size: 140%;
	color: white;
}

#datos input{
	font-size: 80%;
	width: 90%;
	margin-bottom: 5%;
	margin-top:5%;
}


#guardar{
	
	margin-top: 5%;
	margin-bottom: 5%;

}

#imagenR2{
	float: left;
	width: 26%;
	height: 80%;
}

#imagenR2 img{
	width: 80%;
	height: 60%;
	margin-left: 10%;
	margin-top: 20%;
	
}






#wowslider-container1 { 
	zoom: 1; 
	position: relative; 
	max-width:830px;
	margin:0px 0px 0px;
	z-index:90;
	border:none;
	text-align:left; /* reset align=center */
}
* html #wowslider-container1{ width:830px }
#wowslider-container1 .ws_images ul{
	position:relative;
	width: 10000%; 
	height:auto;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	border-spacing:0;
	overflow: visible;
	/*table-layout:fixed;*/
}
#wowslider-container1 .ws_images ul li{
	width:1%;
	line-height:0; /*opera*/
	float:left;
	font-size:0;
	padding:0 0 0 0 !important;
	margin:0 0 0 0 !important;
}

#wowslider-container1 .ws_images{
	position: relative;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
#wowslider-container1 .ws_images a{
	width:100%;
	display:block;
	color:transparent;
}
#wowslider-container1 img{
	max-width: none !important;
}
#wowslider-container1 .ws_images img{
	width:100%;
	border:none 0;
	max-width: none;
	padding:0;
}
#wowslider-container1 a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container1  .ws_bullets { 
	font-size: 0px; 
	float: left;
	position:absolute;
	z-index:70;
}
#wowslider-container1  .ws_bullets div{
	position:relative;
	float:left;
}
#wowslider-container1  .wsl{
	display:none;
}
#wowslider-container1 sound, 
#wowslider-container1 object{
	position:absolute;
}


#wowslider-container1  .ws_bullets { 
	padding: 9px; 
}
#wowslider-container1 .ws_bullets a { 
	width:11px;
	height:11px;
	background: url('../img/bullet.png') left top;
	float: left; 
	text-indent: -4000px; 
	position:relative;
	margin-left:5px;
	color:transparent;
}
#wowslider-container1 .ws_bullets a:hover{
	background-position: 0 50%;
}
#wowslider-container1 .ws_bullets a.ws_selbull{
	background-position: 0 100%;
}
#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev {
	position:absolute;
	display:block;
	top:50%;
	margin-top:-20px;
	z-index:60;
	height: 45px;
	width: 45px;
	background-image: url('../img/arrows.png');
	opacity: 0.8;	
}
#wowslider-container1 a.ws_next{
	background-position: 100% 0;
	right:21px;
}
#wowslider-container1 a.ws_prev {
	left:21px;
	background-position: 0 0; 
}
#wowslider-container1 a.ws_next:hover{
	opacity: 1;
}
#wowslider-container1 a.ws_prev:hover {
	opacity: 1;
}  

/*playpause*/
#wowslider-container1 .ws_playpause {
	display:none;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    z-index: 59;
}

#wowslider-container1:hover .ws_playpause {
	display:block;
}

#wowslider-container1 .ws_pause {
    background-image: url('../img/pause.png');
}

#wowslider-container1 .ws_play {
    background-image: url('../img/play.png');
}

#wowslider-container1 .ws_pause:hover, #wowslider-container1 .ws_play:hover {
    background-position: 100% 100% !important;
}/* bottom center */
#wowslider-container1  .ws_bullets {
    bottom: 0px;
	left:50%;
}
#wowslider-container1  .ws_bullets div{
	left:-50%;
}
#wowslider-container1 .ws-title{
	position:absolute;
	display:block;
	bottom: 17px;
	left: 0px;
	margin: 9px;
	margin-left: 0px;
	margin-right: 9px; 
	padding:8px;
	background:#FFFFFF;
	color:#5D5D5D;
	z-index: 50;
	font-family:'Open Sans',Arial,Helvetica,sans-serif;
	font-size: 18px;
	border-radius:5px;
	-moz-border-radius:0 10px 10px 0;
	border-radius:0 10px 10px 0;   
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);	
	-moz-box-shadow: 0 0 2px #5D5D5D;
    box-shadow: 0 0 2px #5D5D5D; 
}
#wowslider-container1 .ws-title div{
	padding-top:5px;
	font-size: 14px;
}
#wowslider-container1 .ws_images ul{
	animation: wsBasic 27.5s infinite;
	-moz-animation: wsBasic 27.5s infinite;
	-webkit-animation: wsBasic 27.5s infinite;
}
@keyframes wsBasic{0%{left:-0%} 12%{left:-0%} 20%{left:-100%} 32%{left:-100%} 40%{left:-200%} 52%{left:-200%} 60%{left:-300%} 72%{left:-300%} 80%{left:-400%} 92%{left:-400%} }
@-moz-keyframes wsBasic{0%{left:-0%} 12%{left:-0%} 20%{left:-100%} 32%{left:-100%} 40%{left:-200%} 52%{left:-200%} 60%{left:-300%} 72%{left:-300%} 80%{left:-400%} 92%{left:-400%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 12%{left:-0%} 20%{left:-100%} 32%{left:-100%} 40%{left:-200%} 52%{left:-200%} 60%{left:-300%} 72%{left:-300%} 80%{left:-400%} 92%{left:-400%} }

#wowslider-container1 .ws_images  img{
    border-radius: 4px; 
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

}
#wowslider-container1 .ws_effect img{
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
#wowslider-container1 .ws_bullets  a img{
	text-indent:0;
	display:block;
	bottom:20px;
	left:-55px;
	visibility:hidden;
	position:absolute;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    border: 4px solid #FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	max-width:none;
}
#wowslider-container1 .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container1 .ws_bulframe div div{
	height:48px;
	overflow:visible;
	position:relative;
}
#wowslider-container1 .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:110px;
	background-color:#FFF;
}
#wowslider-container1  .ws_bullets .ws_bulframe{
	display:none;
	bottom:18px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    border: 4px solid #FFF;
	border-radius:5px;
	-moz-border-radius:5px;
}
#wowslider-container1 .ws_bulframe span{
	display:block;
	position:absolute;
	bottom:-10px;
	margin-left:-6px;
	left:55px;
	background:url('../img/triangle.png');
	width:15px;
	height:6px;
}