#header{
	width: 969px;
	height: 282px;
	margin: auto;
	margin-top: 3%;
	border: dashed gray 1px;
	background-image: url('../img/videos.jpg');
	border-radius: 7px;
}

#title{

	font-family: Segoe Print;
	font-size: 40px;
	width: 150px;
	margin-top: 11%;
	margin-left: 16%;

}

#contVideos{
	width: 905px;
	height: 1230px;
	margin: auto;
	margin-top: 3%;	
}

.video{
	width: 298px;
	height: 251px;
	background-image: url("../img/video.png");
	margin: auto;

}

.imagenVideo{
	width: 276px;
	height: 180px;
	margin-top: 8%;
	margin-left: 3.5%;
	position: relative;
	z-index: 0;

}

.imagenVideo img{
	width: 100%;
	height: 100%;
	margin-top: 13%;
}

.hojaVideo{
	float: left;
	width: 351px;
	height: 351px;
	background-image: url("../img/hojaVideo.jpg");
	margin-left: 5.5%;
	margin-right: 5.5%;
	margin-bottom: 7%;
}

.tituloVideo{
	background-image: url("../img/nombreVideo.png");
	width: 109%;
	height: 53px;
	margin-left: -4.5%;
	background-repeat:no-repeat;
	background-position:50% 95%;
}

.tituloVideo2{
	background-image: url("../img/nombreN.png");
	width: 109%;
	height: 53px;
	margin-left: -4.5%;
	background-repeat:no-repeat;
	background-position:50% 95%;
}

.iconoMusic{
	float: left;
	background-image: url("../img/icons.png");
	background-repeat:no-repeat;
	background-position:50% 95%;
	width: 40px;
	height: 40px;
	margin-left: 3%;
	margin-top: 1%;
}

.nombreVideo{
	float: left;
	width: 315px;
	height: 40px;
	margin-left: 2%;
	color: white;
	font-family: Courier;
	font-size: 22px;
	margin-top: 3.5%;
}

.play{
	width: 276px;
	height: 180px;
	position: relative;
	z-index: 1;
	margin-top: -48.5%;
	margin-left: 3%;

}

.play img{
	width: 100%;
	height: 100%;
}


#contallvideos{
	width: 960px;
	height: 755px;
	background-image: url("../img/kill.png");
	margin: auto;
	margin-bottom: 2%;
	margin-top: -1%;
	background-repeat: no-repeat;
	background-position: -20px 0px;

}

.nombrevideoclip{
	margin-left: 27%;
	font-family: Rage Italic;
	font-size: 50px;
	width: 550px;
	margin-top: 8%;
	font-weight: bold 10px;
	color: #A0000F;
	text-align: center;
}

.lineaclip{
	background-image: url("../img/linea.png");
	width: 73%;
	height: 5px;
	margin-left: 20%;
}

.videoclip{
	width: 60%;
	height: 450px;
	margin-left: 25%;
	margin-top: 4%;
}

.videoclip img{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 0;
}

.videoclip video{
	position: relative;
	z-index: 1;
	margin-top: -76.5%;
	width: 535px;
	height: 430px;
	margin-left: 3.7%;
}

#volver{
	margin-left: 45%;
	background-image: url("../img/noti.png");
	width: 220px;
	height: 26px;
	text-align: center;
	font-family: Courier;
	font-size: 20px;
	margin-bottom: 2%;
	margin-top: 4.5%;
}

#volver a{
	text-decoration: none;
	color: white;
}
